@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #e5e5e5;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* NAVBAR CSS START */
.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  height: 110px;
  width: 130px;
}

.header-logo > h3 {
  font-size: 36px;
  color: rgb(255, 183, 0);
}

.header-logo h3 span {
  color: azure;
}

.header {
  background-color: #821752;
  color: white;
  display: flex;
  padding: 0.7rem 2rem;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-link > a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px;
}

.header-link > a:hover {
  color: rgb(255, 183, 0);
  transition: 0.5s;
}

/* NAVBAR CSS END */

/* BODY CSS START */
.hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 158, 47),
    rgb(255, 60, 60)
  );
}

.hero-text {
  font-size: 56px;
  margin-left: 0px;
  font-family: Bebas Neue;
}

.hero-text h4 span {
  color: whitesmoke;
}

/* BODY CSS END */

/* ABOUT CSS START */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom left,
    #07b17e,
    rgba(0, 106, 255, 1)
  );
}

.about-text {
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.about h3 {
  font-family: Bebas Neue;
  font-size: 52px;
  letter-spacing: 5px;
}

/* ABOUT CSS END */

/* TEAM CSS START */

.team-section {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #feac5e,
    #c779d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feac5e, #c779d0);
  padding: 70px 15px 30px;
  min-height: 100vh;
}

.team-container {
  max-width: 1170px;
  margin: auto;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
}

.team-section .team-title {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 70px;
  margin-top: 30px;
}

.team-section .team-title h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
  font-size: 53px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.team-section .team-title p {
  font-size: 16px;
  text-align: center;
  color: rgb(43, 43, 43);
  margin: 15px 0 0;
}

.team-section .team-items {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-section .team-items .team-item {
  flex-basis: calc(25% - 30px);
  max-width: calc(25% - 30px);
  transition: all 0.5s ease;
  margin-bottom: 40px;
}

.team-section .team-items .team-item img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.team-section .team-items .team-item .inner {
  position: relative;
  z-index: 11;
  padding: 0 15px;
}

.team-section .team-items .team-item .inner .info {
  background-color: #feac5e;
  text-align: center;
  padding: 20px 15px;
  border-radius: 8px;
  transition: all 0.5s ease;
  margin-top: -40px;
}

.team-section .team-items .team-item:hover .info {
  transform: translateY(-20px);
}

.team-section .team-items .team-item:hover {
  transform: translateY(-10px);
}

.team-section .team-items .team-item .inner .info h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.team-section .team-items .team-item .inner .info p {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: #818181;
}

.team-section .team-items .team-item .inner .info .social-links {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-section .team-items .team-item .inner .info .social-links a {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #fff;
  color: #821752;
  border-radius: 50%;
  margin: 0 2px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  transition: all 0.5s ease;
}

.team-section .team-items .team-item .inner .info .social-links a:hover {
  box-shadow: 0 0 10px;
}
/* TEAM CSS END */

/* PROJECTS CSS START */

.project-section{
  background: #fc4a1a; 
  background: -webkit-linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); 
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  );
  padding: 70px 15px 30px;
  min-height: 100vh;
}

.project-container {
  max-width: 1170px;
  margin: auto;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
}

.project-section .project-title {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 70px;
  margin-top: 30px;
}

.project-section .project-title h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
  font-size: 53px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.project-section .project-items {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-section .project-items .project-item {
  flex-basis: calc(25% - 30px);
  max-width: calc(25% - 30px);
  transition: all 0.5s ease;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
}

.project-section .project-items .project-item img{
  display: block;
  width: 100%;
  border-radius: 8px;
}

.project-section .project-items .project-item .inner .info h2 {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 900;
}

.project-section .project-items .project-item .inner .info p {
  margin: 10px 0 0;
  font-size: 20px;
  font-weight: 400;
  color: #818181;
}

.project-section .project-items .project-item .inner .info .social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.project-section .project-items .project-item .inner .info .social-links a{
  display: inline-block;
  height: 42px;
  width: 62px;
  background-color: #fcc01a;
  color: #000;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  line-height: 41px;
  font-size: 25px;
  transition: all 0.5s ease;
}

/* PROJECTS CSS END */

/* CONTACT CSS START */
.contact-section {
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 70px 15px 30px;
  min-height: 75vh;
}

.contact-container {
  max-width: 1170px;
  margin: auto;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
}

.contact-section .contact-title {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 70px;
  margin-top: 30px;
}

.contact-section .contact-title h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  color: #832e52;
}
.contact-section .contact-title p {
  font-size: 16px;
  text-align: center;
  color: rgb(78, 78, 78);
  margin: 15px 0 0;
}

.social-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.social-card {
  background-color: antiquewhite;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}

.social-card p {
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 3px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.social-card:hover p {
  max-height: 30px;
  opacity: 1;
}

.social-card-icon {
  font-size: 28px;
  background: -webkit-linear-gradient(
    to right,
    #feac5e,
    #c779d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feac5e, #c779d0);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}
/*  */
.social-card a {
  color: black;
}

.social-card:hover .social-card-icon {
  background: none;
  color: #832e52;
  transform: scale(1.6);
}

/* CONTACT CSS END */

/* FOOTER CSS START */

.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #feac5e;
}

.footer-section h5 {
  font-size: 20px;
}

.footer-section h5 a:hover{
  cursor: pointer;
  color: white;
}

.footer-section > h5 > a {
  text-decoration: none;
  color: black;
}

/* FOOTER CSS END */

/* MEDIA QUERIES */

@media (max-width: 991px) {
  .team-section .team-items .team-item {
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }

  .project-section .project-items .project-item {
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 700px) {
  .header {
    display: block;
    text-align: center;
    justify-content: center;
    height: 120px;
  }

  .header-logo {
    justify-content: center;
    margin-left: -29px;
  }

  .header-logo > h3 {
    font-size: 26px;
  }

  .header-logo img {
    width: 100px;
    height: 95px;
  }

  .header-link a {
    justify-content: center;
  }

  .hero {
    flex-wrap: wrap;
  }

  .hero-text {
    font-size: 55px;
    text-align: center;
    margin: auto;
  }

  .hero-image img {
    height: 300px;
    width: 350px;
    margin-top: -100px;
  }

  .hero-flex {
    flex-basis: 50%;
  }

  .about {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to bottom left,
      #07b17e,
      rgba(0, 106, 255, 1)
    );
  }

  .about-text {
    padding: 50px;
    text-align: center;
    color: white;
  }

  .team-section .team-items .team-item {
    flex-basis: calc(100%);
    max-width: calc(100%);
  }

  .project-section .project-items .project-item {
    flex-basis: calc(100%);
    max-width: calc(100%);
  }

  .social-info {
    flex-direction: column;
  }

  .social-card {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }
}

@media (max-width: 460px) {
  .header-link {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 360px) {
  .header-link {
    font-size: 12px;
  }

  .hero-image img {
    height: 230px;
    width: 260px;
    margin-top: -90px;
  }

  .social-card {
    width: 100%;
    max-width: 300px;
  }
  .project {
    padding: 20px;
    background: linear-gradient(to right, #feac5e, #70e1f5);
  }
}

/* MEDIA QUERIES END */