/* 9f5f80 */
/* #583D72  */
/* ffba93 */
/* ff8e71 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  background: #e5e5e5;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img{
  height: 110px;
  width: 130px;
}

.header-logo > h3 {
  font-size: 36px;
  color: rgb(255, 183, 0);
}

.header-logo h3 span {
  color: azure;
}


.header {
  background-color: #821752;
  color: white;
  display: flex;
  padding: 0.7rem 2rem;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-link > a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px;
}

.header-link > a:hover {
  color: rgb(255, 183, 0);
  transition: 0.5s;
}

/* body Section Css */
.hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 158, 47),
    rgb(255, 60, 60)
  );
}

.hero-text {
  font-size: 56px;
  margin-left: 0px;
  font-family: Bebas Neue;
}

.hero-text h4 span {
  color: whitesmoke;
}

.about {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom left,
    #07b17e,
    rgba(0, 106, 255, 1)
  );
}

.about-text {
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.about h3{
  font-family: Bebas Neue;
  font-size: 52px;
  letter-spacing: 5px;
}

.about {
  height: 100vh;
}

@media (max-width: 700px) {
  .header {
    display: block;
    text-align: center;
    justify-content: center;
    height: 120px;
  }

  .header-logo {
    justify-content: center;
    margin-left: -29px;
  }

  .header-logo > h3 {
    font-size: 26px;
  }

  .header-logo img{
    width: 100px;
    height: 95px;
  }

  .header-link a{
    justify-content: center;
  }

  .hero {
    flex-wrap: wrap;
  }

  .hero-text {
    font-size: 55px;
    text-align: center;
    margin: auto;
  }

  .hero-image img {
    height: 300px;
    width: 350px;
    margin-top: -100px;
  }

  .hero-flex {
    flex-basis: 50%;
  }

  .about {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to bottom left,
      #07b17e,
      rgba(0, 106, 255, 1)
    );
  }

  .about-text {
    padding: 50px;
    text-align: center;
    color: white;
  }
}