/* 9f5f80 */
/* #583D72  */
/* ffba93 */
/* ff8e71 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  background: #e5e5e5;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo > h3 {
  margin-left: 10px;
  color: rgb(255, 183, 0);
}

.header-logo h3 span{
  color: azure;
}

.header {
  background-color: #2e2e2e;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-link > a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px;
}

.header-link > a:hover {
  color: #52057b;
  transition: 0.5s;
}

.image-body {
  width: 100%;
  z-index: -1;
  margin-bottom: -250px;
  position: fixed;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


@media (max-width: 700px){
  .header{
    display: block;
    text-align: center;
    justify-content: center;
    height: 90px;
  }

  .header-logo{
    justify-content: center;
  }
}