/* 9f5f80 */
/* #583D72  */
/* ffba93 */
/* ff8e71 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  background: #e5e5e5;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img{
  height: 110px;
  width: 130px;
}

.header-logo > h3 {
  font-size: 36px;
  color: rgb(255, 183, 0);
}

.header-logo h3 span {
  color: azure;
}


.header {
  background-color: #821752;
  color: white;
  display: flex;
  padding: 0.7rem 2rem;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-link > a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px;
}

.header-link > a:hover {
  color: rgb(255, 183, 0);
  transition: 0.5s;
}

/* body Section Css */
.hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 158, 47),
    rgb(255, 60, 60)
  );
}

.hero-text {
  font-size: 56px;
  margin-left: 0px;
  font-family: Bebas Neue;
}

.hero-text h4 span {
  color: whitesmoke;
}

.about {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom left,
    #07b17e,
    rgba(0, 106, 255, 1)
  );
}

.about-text {
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.about h3{
  font-family: Bebas Neue;
  font-size: 52px;
  letter-spacing: 5px;
}

.about {
  height: 100vh;
}

.team-section{ /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feac5e, #c779d0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feac5e, #c779d0);
  padding: 70px 15px 30px;
  min-height: 100vh;
}

.team-container{
  max-width: 1170px;
  margin: auto;
}

.team-row{
  display: flex;
  flex-wrap: wrap;
}

.team-section .team-title{
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 70px;
}

.team-section .team-title h1{
  font-size: 40px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.team-section .team-title p{
  font-size: 16px;
  text-align: center;
  color: rgb(43, 43, 43);
  margin: 15px 0 0;
}

.team-section .team-items{
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-section .team-items .team-item{
  flex-basis: calc(25% - 30px);
  max-width: calc(25% - 30px);
  transition: all .5s ease;
  margin-bottom: 40px;
}

.team-section .team-items .team-item img{
  display: block;
  width: 100%;
  border-radius: 8px;
}

.team-section .team-items .team-item .inner{
  position: relative;
  z-index: 11;
  padding: 0 15px;
}

.team-section .team-items .team-item .inner .info{
  background-color: #feac5e;
  text-align: center;
  padding: 20px 15px;
  border-radius: 8px;
  transition: all .5s ease;
  margin-top: -40px;
}

.team-section .team-items .team-item:hover .info{
  transform: translateY(-20px);
}

.team-section .team-items .team-item:hover{
  transform: translateY(-10px);
}

.team-section .team-items .team-item .inner .info h5{
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.team-section .team-items .team-item .inner .info p{
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: #818181;
}

.team-section .team-items .team-item .inner .info .social-links{
  padding-top: 15px;
}

.team-section .team-items .team-item .inner .info .social-links a{
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #fff;
  color: #821752;
  border-radius: 50%;
  margin: 0 2px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  transition: all 0.5s ease;
}

.team-section .team-items .team-item .inner .info .social-links a:hover{
  box-shadow: 0 0 10px;
}

@media (max-width: 991px) {
  .team-section .team-items .team-item{
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 700px) {
  .header {
    display: block;
    text-align: center;
    justify-content: center;
    height: 120px;
  }

  .header-logo {
    justify-content: center;
    margin-left: -29px;
  }

  .header-logo > h3 {
    font-size: 26px;
  }

  .header-logo img{
    width: 100px;
    height: 95px;
  }

  .header-link a{
    justify-content: center;
  }

  .hero {
    flex-wrap: wrap;
  }

  .hero-text {
    font-size: 55px;
    text-align: center;
    margin: auto;
  }

  .hero-image img {
    height: 300px;
    width: 350px;
    margin-top: -100px;
  }

  .hero-flex {
    flex-basis: 50%;
  }

  .about {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to bottom left,
      #07b17e,
      rgba(0, 106, 255, 1)
    );
  }

  .about-text {
    padding: 50px;
    text-align: center;
    color: white;
  }

  .team-section .team-items .team-item{
    flex-basis: calc(100%);
    max-width: calc(100%);
  }
}